# Build results
bin
obj
node_modules
.next

# User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
.env.*